[submodule "infrastructure"]
	path = infrastructure
	url = https://github.com/sabbour/aks-gitops-infrastructure.git
[submodule "code-repos/color-service"]
	path = code-repos/color-service
	url = https://github.com/sabbour/aks-gitops-color-service.git
[submodule "starter-charts"]
	path = starter-charts
	url = https://github.com/sabbour/aks-gitops-startercharts.git
